html, body {
  height: 100%;
  margin: 0;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.status-table {
  border-spacing: 10px;
  align-self: center;
}

.status-table tr td {
  padding: 5px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.detail-container {
  background-color: white;
  width: 500px;
  min-height: 100%;
  padding: 10px;
  align-self: flex-start;
}

.detail-info {
  justify-content: space-around;
}

.priority-icon {
  width: 30px;
  height: 30px;
}

.task-container {
  background: aliceblue;
  margin: 1px 3px;
  align-items: center;
}

.task-title-sm {
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
  flex: 1;
}

.clickable {
  cursor: pointer;
}

.progress-icon {
  font-size: 22px;
}

.list-header {
  height: 60px;
  padding: 20px;
}

.header-section {
  border: 1px solid black;
  border-radius: 5px;
  gap: 10px;
  box-sizing: border-box;
  padding: 5px;
}

.space-between {
  justify-content: space-between;
}

.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  max-width: 300px;
  margin: auto;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
